.base-text
  %p Welcome to the quality control system for digital libraries!
.base-icons
  .btn-group
    .btn.btn-primary{:title => "Adapters for datamapper, sequel, activerecord, minirecord, mongomapper, mongoid, couchrest"}=tag_icon("cogs fa-2x", "Orm Agnostic")
    .btn.btn-success{:title => "User Authentication Support, User Authorization Management"}=tag_icon("group fa-2x", "Authentication")
    .btn.btn-info{:title => "Erb, Haml, Slim Rendering Support"}=tag_icon("tasks fa-2x", "Template Agnostic")
    .btn.btn-warning{:title => "English, German, Russian, Danish, French, Brazilian and Italian localizations and many more!.."}=tag_icon("flag fa-2x", "Multi Language")
    .btn.btn-danger{:title => "You can create a new 'admin interface' by providing a single Model"}=tag_icon("magic fa-2x", "Scaffold")
