- error = @library.errors.key?(:name) && @library.errors[:name].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    ~f.text_area :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
- error = @library.errors.key?(:address) && @library.errors[:address].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :address, :class => 'control-label'
  .controls
    ~f.text_area :address, :class => 'form-control input-large input-with-feedback'
- error = @library.errors.key?(:phone) && @library.errors[:phone].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :phone, :class => 'control-label'
  .controls
    ~f.text_area :phone, :class => 'form-control input-large input-with-feedback'
- error = @library.errors.key?(:p_access) && @library.errors[:p_access].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Accesses to the academic digital library per capita", :class => 'control-label'
  .controls
    =f.text_field :p_access, :class => 'form-control input-large input-with-feedback'
- error = @library.errors.key?(:p_access_point) && @library.errors[:p_access_point].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Access points to the academic digital library per capita", :class => 'control-label'
  .controls
    =f.text_field :p_access_point, :class => 'form-control input-large input-with-feedback'
- error = @library.errors.key?(:p_query) && @library.errors[:p_query].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Queries on the library collection per capita", :class => 'control-label'
  .controls
    =f.text_field :p_query, :class => 'form-control input-large input-with-feedback'
- error = @library.errors.key?(:p_megabyte) && @library.errors[:p_megabyte].count > 0
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Megabytes of the academic digital library per capita", :class => 'control-label'
  .controls
    =f.text_field :p_megabyte, :class => 'form-control input-large input-with-feedback'
%br
=f.label "Report"
.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:library, :criteria)
        %th.header= mat(:library, :adecuacy)

    %tbody
      -@sa_label = @library.all_sa_labels
      -@library.survey_results.each do |res|
        %tr.list-row
          %td.list-column=Library::SUBJECTIVE_CRITERIA[res[:question_id]]
          %td.list-column=@sa_label[res[:question_id]]

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:library, :advice)

    %tbody
      -@library.generate_advices.each do |ad|
        %tr.list-row
          %td.list-column=ad

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:libraries, :index), :class => 'btn btn-default'
