!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Library support system
    %link{:href => "/test/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/test/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/test/css/bootstrap-select.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"}
  %script{:src => "/test/js/bootstrap.min.js", :type => "text/javascript"}
  %script{:src => "/test/js/bootstrap-select.js"}
  %body
    / HEADER
    %header.container
      .upper-header
        .row
          .col-md-3.col-sm-2.col-xs-12.left
            .logo
              / <img src="img/mini-logo.png" class="center-block">
          .col-md-6.col-md-offset-3.col-sm-9.col-sm-of.col-xs-12
            .menu
              %ul
                %li About
                %li Downloads
                %li Plans
                %li Contact
                %li
                  %i.glyphicon.glyphicon-search
      / end .upper-header
      .main-header
        .container
          .row.main
            %h1 A Decision Support System to Develop a Quality Management in Academic Digital Libraries
    / end .main-header
    / END HEADER

    / CONTENT
    %div
      %section.bottom
        .container
          .row.main
            %h1 Fill in a survey
            %h3 Please, answer the following questions
          .row.question
            .col-sm-4
              .m-content
                %h2 Academic digital library:
                .form-group
                  %select.selectpicker.show-tick{"data-live-search" => "true", "data-width" => "75%", :title => "Please select a digital library"}
                    -@libraries.each do |lib|
                      %option=lib.name
            .col-sm-4
              .m-content
                %h2 User:
                .form-group
                  %input#textinput.form-control.input-md{:name => "textinput", :placeholder => "Please enter your name", :style => "cursor: auto; background-image: background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", :type => "text"}/
            .col-sm-4
              .m-content
                %h2 Roles
                .form-group
                  %select.selectpicker.show-tick{"data-live-search" => "true", "data-width" => "75%", :title => "Please select your role"}
                    -@roles.each do |role|
                      %option=role
          .row.main
            %h1 Questions
          .row.question
            -@questions.each do |question|
              .col-sm-6
                .m-content
                  %h2=question.title
                  %form.form-horizontal{:role => "form"}
                    .form-group.form-group-lg
                      %label.col-lg-4.control-label{:for => "minimum"} Minimum
                      .col-lg-4.minimum
                        %select.selectpicker.show-tick.form-control
                          -@answers.each do |role|
                            %option=role
                  %form.form-horizontal{:role => "form"}
                    .form-group.form-group-lg
                      %label.col-lg-4.control-label{:for => "perceived"} Perceived
                      .col-lg-4.perceived
                        %select.selectpicker.show-tick.form-control
                          -@answers.each do |role|
                            %option=role
                  %form.form-horizontal{:role => "form"}
                    .form-group.form-group-lg
                      %label.col-lg-4.control-label{:for => "desired"} Desired
                      .col-lg-4.desired
                        %select.selectpicker.show-tick.form-control
                          -@answers.each do |role|
                            %option=role
          %div
    / END CONTENT

    %footer
      %form.form-horizontal{:action => "#", :method => "post", :role => "form"}
        .container
          .row.main
            %h1 Thank you!
            .form-group
              .col-sm-10.col-sm-offset-2
                %input#submit.btn.btn-primary{:name => "submit", :type => "submit", :value => "Send"}/
