-#!!!
-#%html{:lang => "en"}
-#  %head
-#    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
-#    %meta{:charset => "UTF-8"}/
-#    %title Title
-#  :css
-#    .democlass {
-#        color: red;
-#    }
-#  %body
-#    %h1.democlass Hello World
-#    %p Click the button to display the value of the class attribute of the h1 element.
-#    %button{:onclick => "myFunction()"} Try it
-#    %p#demo
-#    :javascript
-#      function myFunction() {
-#          var x = document.getElementsByTagName("H1")[0].getAttribute("class");
-#          document.getElementById("demo").innerHTML = x;
-#      }




!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title nhom2
    %link{:href => "/test/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/test/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/test/css/bootstrap-select.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"}
  %script{:src => "/test/js/bootstrap.min.js", :type => "text/javascript"}
  %script{:src => "/test/js/bootstrap-select.js"}

  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  :javascript
    var text;
    $(document).ready(function(){
        $('#selectMinimum').change(function () {
          var selectedText = $(this).find("option:selected").text();
          text = selectedText;
          $(".test").text(selectedText);
      	});

        $("#btn1").click(function(){
            alert(text);
        });
    });


  %body
  %body
    %select#SpaceAccommodation.form-control{:name => "YogaSpaceAccommodation"}
      %option{:selected => "selected", :value => "0"} 1-4
      %option{:value => "1"} 5-9
      %option{:value => "2"} 10-15
      %option{:value => "3"} 16-20
      %option{:value => "4"} 20+
    .test
    %div
      %section.bottom
        .container
          .row.question
            -@questions.each do |question|
              .col-sm-6
                .m-content
                  %h2#question=question.title
                  %form#cuongnb1.form-horizontal{:role => "form"}
                    .form-group.form-group-lg
                      %label.col-lg-4.control-label{:for => "minimum"} Minimum
                      .col-lg-4.minimum
                        %select#selectMinimum.selectpicker.show-tick.form-control
                          -@answers.each do |role|
                            %option{:selected => "selected"}=role
                  %form#cuongnb2.form-horizontal{:role => "form"}
                    .form-group.form-group-lg
                      %label.col-lg-4.control-label{:for => "perceived"} Perceived
                      .col-lg-4.perceived
                        %select.selectpicker.show-tick.form-control
                          -@answers.each do |role|
                            %option#role2=role
                  %form#cuongnb3.form-horizontal{:role => "form"}
                    .form-group.form-group-lg
                      %label.col-lg-4.control-label{:for => "desired"} Desired
                      .col-lg-4.desired
                        %select.selectpicker.show-tick.form-control
                          -@answers.each do |role|
                            %option#role3=role
          %div
    / END CONTENT

    %footer
      %form.form-horizontal{:action => "#", :method => "post", :role => "form"}
        .container
          .row.main
            %h1 Thank you!
            .form-group
              .col-sm-10.col-sm-offset-2
                %input#submit.btn.btn-primary{:name => "submit", :type => "submit", :value => "Send"}/

