%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:surveys, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:surveys, :new)

.tabs-content
  = form_for :survey, url(:surveys, :create), :class => 'form-horizontal' do |f|
    =partial 'surveys/form', :locals => { :f => f }
